[submodule "backend"]
	path = backend
	url = https://github.com/caomaxpro/music_player_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/caomaxpro/music_player_frontend.git
